.todoListMain .header input {
  padding:10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #06F;
  color: #FFF;
  border: 2px solid #06F;
}

.todoListMain .header button:hover {
  background-color: #039;
  border: 2px solid #039;
  cursor: pointer;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style:none;

  transition: background-color .2 ease-out;
}

.todoListMain .theList li:hover{
  background-color: pink;
  cursor: pointer;

}

u.theList {
  padding: 0px;
}
